.blog{
    .post{
        a{
            transition: all 200ms ease-out;
            text-decoration:none;
        }

        .post-inner{
            border:0px solid rgba($primary, 1);
            transition: all 200ms ease-out;

            h5{
                margin-bottom: 0;
            }
        }



    }
}

.single-post{
    img{
        max-width: 100%;
        height: auto;
    }
    .featured-image{
        border-top:1px solid $primary;
        border-bottom:1px solid $primary;
        margin-top:2em;
        margin-bottom:2em;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
