.form-control{
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    
    &:focus{
        box-shadow:none;
    }

    &:not(:read-only){
        padding-left:0;
        padding-right:0;
    }
}

.custom-control-input:focus ~ .custom-control-label::before{
    box-shadow:none;
}