.form-control{
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    color: $black;
    border-color: rgba($primary, 0.3);
            
    &:focus{
        box-shadow:none;
        // border-color: $gray-300;

        &:not(:read-only){
            border-color: rgba($primary, 0.4);
            background-color: $light;
            color:$primary;
        }
    }

    &:not(:read-only){
        // padding-left:0;
        // padding-right:0;
    }
}



.custom-control-input:focus ~ .custom-control-label::before{
    box-shadow:none;
}





.input-group-prepend,
.input-group-append{
  margin-bottom: 0 !important;
}

.input-group-text{
  background-color:transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

.form-group > label{
    color:$gray-600;
}


.search-field{
    position: relative; 

    > input{
        padding-left: 4*$input-padding-x;
    }
    
    &::before,
    &::after{
        display:inline-block;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        line-height:1.5;
        padding: $input-padding-y $input-padding-x;
        position:absolute;
        
    }

    &::before{
        pointer-events: none;
        content: "\f002"; //search
        left:0;
        top:0;
        opacity:.6;
    }
    
    // &::after{
    //     content: "\f00d"; //times
    //     right:0;
    //     top:0;
    //     opacity:.6;
    //     cursor:pointer;
    // }

}


.dropdown-item.active, 
.dropdown-item:active{
    background-color:$light;
    color:$primary;
}
.dropdown-item:hover{
    background-color:$light;
    color:$primary;
}

.bootstrap-select .dropdown-toggle{
    background-color:transparent;
    border-color:transparent;   
    border-bottom:1px solid rgba($primary, 0.3);

    &:focus{
        background-color:$light;
        box-shadow:none;
        outline:none !important;
    }
            
}