


.grid{
    &.are-images-unloaded {
        opacity: 0;
        .grid__item {
            opacity: 0;
        }
    }

    .grid__gutter-sizer { width: 0%; }

    > nav{
        display:none;
    }

    .grid__col-sizer,
    .grid__item{
      width:25%;
    }

    .grid__item{
       display: block;
       //margin-bottom:1em;

      padding:.5em;
      text-decoration: none;
      float: left;

      figure{
        overflow: hidden;
        background-color: $primary;
        display: block;

        img{
          transition: all 200ms ease-in;
          opacity:1;
        }

      }

      &:hover{
       figure img{
          transform: scale(1.1);
          opacity:.7;
        }
      }


    }

    .grid__item.size-featured{
        width:75%;
    }

    .grid__item.size-important{
        width:50%;
    }


    @include media-breakpoint-only(lg) {
        .grid__col-sizer,
         .grid__item{
            width:33.3%;
        }

        .grid__item.size-featured{
            width:100%;
        }

        .grid__item.size-important{
            width:66.6%;
        }

    }

    @include media-breakpoint-only(md) {
        .grid__col-sizer,
         .grid__item{
            width:50%;
        }

        .grid__item.size-featured{
            width:100%;
        }
        .grid__item.size-important{
            width:100%;
        }

    }

    @include media-breakpoint-only(sm) {
        .grid__col-sizer,
        .grid__item{
            width:50%;
        }

        .grid__item.size-important{
            width:50%;
        }
        .grid__item.size-featured{
            width:100%;
        }
    }

    @include media-breakpoint-down(xs) {
        .grid__col-sizer,
        .grid__item{
            width:100% !important;
        }


        .grid__item.size-featured,
        .grid__item.size-important{
            width:100%;
        }
    }

}


.page-load-status {
    display: none; /* hidden by default */
    padding: 2em;
    text-align: center;
    color: $gray-600;
  }
