


.grid{
    &.are-images-unloaded {
        opacity: 0;
        .grid__item {
            opacity: 0;
        }
    }

    .grid__gutter-sizer { width: 1%; }

    > nav{
        display:none;
    }

    .grid__col-sizer,
    .grid__item{
      width:24.25%;
    }

    .grid__item{
       display: block;
       //margin-bottom:1em;

      padding-bottom:.8em;
      text-decoration: none;
      float: left;

      a{
        text-decoration: none;
        color: $link-color;

        &.badge-dark{
            color: #fff;
        }
      }

      &.size-featured .grid-inner,
      &:hover .grid-inner{
          background-color: $primary;
          color:$white;
          a{
              color:$white;
          }

      }

      figure{
        overflow: hidden;
        background-color: $gray-500;

        display: block;

        img{
          transition: all 200ms ease-in;
          opacity:.95;
        }

      }

      &:hover{
       figure img{
          transform: scale(1.1);
          opacity:0.7;
        }
      }


    }

    .grid__item.size-featured{
        width:74.75%;
    }

    .grid__item.size-important{
        width:49.50%;
    }


    @include media-breakpoint-only(lg) {
        .grid__item{
            padding-bottom:.4em;
        }

        .grid__col-sizer,
         .grid__item{
            width:32.66%;
        }

        .grid__item.size-featured{
            width:100%;
        }

        .grid__item.size-important{
            width:66.33%;
        }

    }

    @include media-breakpoint-only(md) {
        .grid__col-sizer,
         .grid__item{
            width:49.5%;
        }
        .grid__item{
           padding-bottom:.3em;
        }
        .grid__item.size-featured{
            width:100%;
        }
        .grid__item.size-important{
            width:100%;
        }

    }

    @include media-breakpoint-only(sm) {
        .grid__col-sizer,
        .grid__item{
            width:49.5%;
        }
        .grid__item{
           padding-bottom:.5em;

            padding-left:0em;
            padding-right:0em;
        }

        .grid__item.size-important{
            width:50%;
        }
        .grid__item.size-featured{
            width:100%;
        }
    }

    @include media-breakpoint-down(xs) {
        .grid__col-sizer,
        .grid__item{
            width:100% !important;
        }

        .grid__item{
            padding-left:0em;
            padding-right:0em;
        }
        .grid__item.size-featured,
        .grid__item.size-important{
            width:100%;
        }
    }

}

@include media-breakpoint-up(md) {
    .grid{
        margin-top:3em;
    }
}
.page-load-status {
    display: none; /* hidden by default */
    padding: 2em;
    text-align: center;
    color: $gray-600;
  }
