@import '~owl.carousel/dist/assets/owl.carousel.css';

/** HOME PAGE */
@include media-breakpoint-down(sm) {
  html:not(.nav-opened) header .nav-toggle{
    color: var(--text-color);
  }


  .home-page header .nav-aside svg{
      fill: var(--text-color);
      height:120px;
  }

}


.home-page {

    background-color: var(--bg-color);
    color: var(--text-color);


    // svg{
    //   fill:$white;
    // }
    // a{
    //   color:$white;
    // }
    header{
        background-color: transparent;
        z-index:10;

    }



    @include media-breakpoint-up(md) {
      header nav a{
        color: var(--text-color);

      }
      #main-aside svg{
        fill: var(--text-color);
      }
    }

    #main-aside{
      z-index:10;
    }

    #home-slider{
      width:100vw;
      height: vh(100);
      position: fixed;
      top:0;
      left:0;
      overflow: hidden;
      z-index:1;
      .owl-dots{
        position: absolute;
        left:0;
        bottom:0;
        z-index:2;
        padding:1em;
        .owl-dot{
          width:12px;
          height:12px;
          display: inline-block;
          margin-right:.3em;
          background-color: var(--text-color);
          border-radius: 50%;
          opacity:.3;
          &.active{
            opacity:1;
          }
        }
      }
      .owl-stage-outer{
        height: 100%;
        .owl-stage{
          height: 100%;
          .owl-item{
            height: 100%;
            overflow: hidden;
            .home-slide{
              height: 100%;
            }

          }
        }
      }
    }


    .home-slide{
      width:100vw;
      height: vh(100);

      // position: fixed;
      // top:0;
      // left:0;
      overflow: hidden;
      z-index:1;

      .gradient{
        width:100vw;
        height: vh(100);

        position:absolute;
        left:0;
        top:0;
        z-index:2;
        background: var(--bg-color);
        background: linear-gradient(0deg, var(--bg-color) 0%, transparent 20%, transparent 70%, var(--bg-color) 100%);
      }
      .image{
        width:100vw;
        height: vh(100);

        position:absolute;
        left:0;
        top:0;
        z-index:1;
        background-repeat: no-repeat;
        background-position:center center;
        background-size: cover;
        animation: kenburns 20s alternate infinite ;
      }

      .author-name{
        position: absolute;
        display: inline-block;
        right:0;
        bottom:0;
        margin:0;
        padding:1em;
        text-decoration: none;
        z-index:5;

        color: var(--text-color);

      }

      .page-content{
          position:absolute;
          top:95px;
          left:260px;
          z-index:6;
      }

      .page-title{
          text-transform: none;
          font-size:4em;
          font-weight: 100;
          width:50vw;
          word-break: break-word;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // white-space: nowrap;
          text-shadow: 1px 1px 1px var(--bg-color);


      }

      @include media-breakpoint-down(sm) {
        .page-content{
            left:20px;
            top: 150px;
            .page-title{
                width:auto;
                font-size: 2.4em;
            }

        }
      }
    }

  }
