  
  .responsive-tabs-container .tab-content {
    border-top:none;
  }
  
  .responsive-tabs-container[class*="accordion-"] .tab-pane {
    margin-bottom: 1rem;
  }
  
  .responsive-tabs-container[class*="accordion-"] .accordion-link {
    display: none;
    margin-bottom: .5rem;
    padding: .6rem 1rem;
    background-color: $gray-200;
    color: $primary;
    
    border-radius: $nav-tabs-border-radius;
    border: $nav-tabs-border-width solid $nav-tabs-border-color;
    // color: #333;
  }
  
  .responsive-tabs-container[class*="accordion-"] .accordion-link.active {
      border-bottom: medium none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: transparent;
      color:$primary;
      margin-bottom: 0;
    
  }
  
  @include media-breakpoint-down(sm) {
    .responsive-tabs-container.accordion-xs .responsive-tabs{
      display: none;
    }
    
    .responsive-tabs-container.accordion-xs .accordion-link {
      display: block;
    }
    
    .responsive-tabs-container[class*="accordion-"] .tab-pane {
      border:$nav-tabs-border-width solid $nav-tabs-border-color;
      border-top:none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-width: medium $nav-tabs-border-width $nav-tabs-border-width;
      margin-bottom: 1rem;
      margin-top: -1rem;
      padding: 1rem 1rem 0;
   }
  }
  
  @include media-breakpoint-only(md) {
  
    .responsive-tabs-container.accordion-sm .responsive-tabs {
      display: none;
    }
    
    .responsive-tabs-container.accordion-sm .accordion-link {
      display: block;
    }
    
    .responsive-tabs-container[class*="accordion-"] .tab-pane {
      border:$nav-tabs-border-width solid $nav-tabs-border-color;
      border-top:none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-width: medium $nav-tabs-border-width $nav-tabs-border-width;
      margin-bottom: 1rem;
      margin-top: -1rem;
      padding: 1rem 1rem 0;
   }
  }
  
  @include media-breakpoint-only(lg) {
    .responsive-tabs-container.accordion-md .responsive-tabs {
      display: none;
    }
    
    .responsive-tabs-container.accordion-md .accordion-link {
      display: block;
    }
  }
  
  @include media-breakpoint-only(xl) {
    .responsive-tabs-container.accordion-lg .responsive-tabs {
      display: none;
    }
    
    .responsive-tabs-container.accordion-lg .accordion-link {
      display: block;
    }
  }
     