


.grid-form{
    border: 1px solid rgba($primary,0.2);

    .form-control,
    .form-control:focus,
    .bootstrap-select .dropdown-toggle{
        border-width:0px !important;
        border-color: transparent !important;

    }
  }
@include media-breakpoint-down(sm) {
  .grid-form{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color:#fff;
    z-index:1;
    padding:.5em 0;
    background-color: $primary;
    border-bottom-width: 0px;
    color:$white;
    .form-control,
    .form-control:focus,
    .bootstrap-select .dropdown-toggle{
        background-color: transparent !important;
        color:$white !important;
    }
  }
}




.soci-featured-image{
  height:400px;
  overflow:hidden;
  display: flex;
  align-content: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $gray-300;
}

// .soci-featured-image img{
//   width: 100%;
//   height:auto;
//   background-color: $gray-300;
// }



@include media-breakpoint-down(sm) {
  .soci-featured-image{
    height:50vh;
  }
  .soci-container{
    margin-top:-70px;
  }
}

@include media-breakpoint-up(md) {

  // .soci-container{
  //   margin-top:$fixed-margin-top;
  // }
  
  .soci-container{
    

    .profile-picture{
      margin-top:-45%;
    }
  }
}