.socis .soci-inner{
  border:1px solid rgba($primary, 1);

}

@include media-breakpoint-down(sm) {
  .grid-form{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color:#fff;
    z-index:1;
    padding:.5em 0;
    background-color: $primary;
    color:$white;
    .form-control,
    .form-control:focus,
    .bootstrap-select .dropdown-toggle{
        border-color: transparent !important;
        background-color: transparent !important;
        color:$white !important;
    }
  }
}
