// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,500,800");

//fontawesome
@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");

// Variables
@import 'variables';


//ionicons

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/dist/css/bootstrap-select.min.css';


//wordpresss styles
@import 'theme';
@import 'vendor/pace';
@import 'responsiveTabs';
@import 'animations';
@import 'wp';
@import 'forms';




/** layout styles */

#main-aside{
  display:none;
}


@include media-breakpoint-up(md) {
  // @media (min-width: map-get($grid-breakpoints, "md")) {

    //aside logo
    #main-aside{
      display:flex;
      -ms-flex: 0 0 230px;
      flex: 0 0 230px;
      justify-content:center;
      > a{
        width:70%;
        
      
        svg{
          width:100%;
        }
      }
    }

    
}


  



/** HEADER */
header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10;
  background-color: $white;

    
  .nav-aside{
    display: flex;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;

    svg{
      display:inline-block;
      height:50px;
    }
  }


  .nav-toggle{
    position:fixed;
    right:0;
    top:0;
    padding:.5em;
    display:block;
    z-index:50;
    font-size: 2em;
  }
  
  nav{
    background-color:$white;
    transition:right 200ms ease-out;
    text-transform: uppercase;
  }


  @include media-breakpoint-down(sm) {
  
    nav{
      position:fixed !important;
      right:-100%;
      top:0;
      z-index:20;
      width:90% !important;
      height:100vh;
      padding-top:5em;
      text-transform: uppercase;
      font-size:1.5em;

      
      ul.nav{
        flex-direction: column;
      }

    }
  }


  @include media-breakpoint-up(md) {

    // header{
      nav{
        padding-top:0em;
        display: flex;
        justify-content: space-between;
        position: relative;
        right:auto;
        top:auto;
        width:auto;
        height:auto;
        background-color:transparent;
        transform: none;
        
        
        ul.nav .nav-item{
          padding-right: 2rem;
          padding-left: 2rem;
          
          .nav-link{
            padding-left:0;
            padding-right:0;
          }
        }

        ul.nav:first-child .nav-item{
          padding-left:0px;
        }

        ul.nav:last-child .nav-item{
          padding-right:0px;
        }
      }
    // }

    .nav-toggle{
      display:none;
    }

    .nav-aside{
      svg{
        display:none;
      }
    }
  }

}


@include media-breakpoint-down(sm) {

  html.nav-opened{
    body{
      transition: background 600ms ease-out;
      background-color:$gray-300;
    }
    .main-row,
    .nav-aside{
      transition: filter 600ms ease-out;
      filter:blur(3px) grayscale(100);

    }
    header{
      background-color:transparent;
      nav{
        right: 0;
      }
    }
  }
}




.main-row{
  flex-wrap: nowrap;
  padding-top:5.2em;
 
}

@include media-breakpoint-up(md) {
  
.main-row > main{
    padding-top:3em;
  }

}




.profile-picture{
  border-radius:100%;
  border:4px solid $border-color;
  max-width:100%;
  width:200px;
  height:200px;
  height:auto;
  
  background-color: $gray-200;

  &.size-sm{
    width:80px;
    height:80px;
    border-width:2px;
    
  }
  &.size-xs{
    width:48px;
    width:48px;
    border-width:2px;
    
  }
}


@import 'grid';


// Paginas concretas
@import 'home';
@import 'blog';
@import 'socis';
@import 'back';


