// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,500,800");

//fontawesome
@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");

// Variables
@import 'variables';


//ionicons

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/dist/css/bootstrap-select.min.css';


@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
}


//wordpresss styles
@import 'theme';
@import 'vendor/pace';
@import 'responsiveTabs';
@import 'animations';
@import 'wp';
@import 'forms';



html, body { 
  height: 100%;
  position: relative;
  min-height: 100%;
}

#app{
  min-height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

/** layout styles */

#main-aside{
  display:none;
  padding-top:$fixed-margin-top-sm;
  z-index:1;
}


@include media-breakpoint-up(md) {
  // @media (min-width: map-get($grid-breakpoints, "md")) {

    //aside logo
    #main-aside{
      display:flex;
      -ms-flex: 0 0 230px;
      flex: 0 0 230px;
      justify-content:center;
      padding-top:$fixed-margin-top;

      > a{
        width:70%;


        svg{
          width:100%;
        }
      }
    }


}






/** HEADER */
header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10;
  background-color: $white;
  
  transition: background 200ms ease-out;


  .nav-aside{
    display: flex;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;

    svg{
      display:inline-block;
      height:50px;
    }
  }


  .nav-toggle{
    position:fixed;
    right:0;
    top:0;
    padding:.5em;
    display:block;
    z-index:50;
    font-size: 2em;
  }

  nav{
    background-color:$white;
    transition:right 200ms ease-out;
    text-transform: uppercase;

    .nav-item{
      &.active .nav-link{
        font-weight: 800;
      }
    }
  }

  @include media-breakpoint-down(sm) {

    nav{
      position:fixed !important;
      right:-100%;
      top:0;
      z-index:20;
      width:90% !important;

      height: vh(100);
      padding-top:4em;
      text-transform: uppercase;
      font-size:1.5em;
      display: flex;
      flex-direction: column;

      ul.nav{
        flex-direction: column;

        &:last-child{
          margin-top:auto;
          padding-bottom: .5em;
        }
        .nav-item{
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          .nav-link{
            padding-top: 0;
            padding-bottom: 0;
            border-left:2px solid transparent;
            &:hover,&:focus,&:active{
              border-color: $primary;
            }
          }
          &.active .nav-link{
            border-color: $primary;
          }
        }
      }



    }
  }


  @include media-breakpoint-up(md) {

    // header{
      nav{
        padding-top:0em;
        display: flex;
        justify-content: space-between;
        position: relative;
        right:auto;
        top:auto;
        width:auto;
        height:auto;
        background-color:transparent;
        transform: none;


        ul.nav .nav-item{
          padding-right: 2rem;
          padding-left: 2rem;

          .nav-link{
            padding-left:0;
            padding-right:0;
            &:hover,&:focus,&:active{
              border-bottom:2px solid $primary;
              border-color: var(--text-color);
            }
          }

          &.active .nav-link{
            border-bottom:2px solid $primary;
          }
        }

        ul.nav:first-child .nav-item{
          padding-left:0px;
        }

        ul.nav:last-child .nav-item{
          padding-right:0px;
        }


      }
    // }

    .nav-toggle{
      display:none;
    }

    .nav-aside{
      svg{
        display:none;
      }
    }
  }

}


html.onTop{
 header{
    background-color: transparent;
 }
}

@include media-breakpoint-down(sm) {


  html.nav-opened{

    body{
      transition: background 300ms ease-out;
      background-color:$gray-500;
    }
    #app > div{
        transition: opacity 300ms ease-out;
      opacity:.7;
    }
    .main-row,
    .nav-aside{
      transition: filter 300ms ease-out;
      /*filter: blur(2px) grayscale(60);*/

    }
    header{
        background-color:transparent;
        nav{
        right: 0;
      }
    }
  }
}




.main-row{
  flex-wrap: nowrap;
  .page-content{
    padding-top:$fixed-margin-top-sm;
  }

}

@include media-breakpoint-up(md) {


.main-row {
    .page-content{
      padding-top:$fixed-margin-top;
    }
   
  }
}

@include media-breakpoint-down(sm) {

    .main-row > main{
        padding-bottom:5em;
      }

}



.profile-picture{
  border-radius:100%;
  border:4px solid $border-color;
  max-width:100%;
  width:200px;
  height:200px;
  height:auto;

  background-color: $gray-200;

  &.size-sm{
    width:80px;
    height:80px;
    border-width:2px;

  }
  &.size-xs{
    width:48px;
    width:48px;
    border-width:2px;

  }
}



@include media-breakpoint-down(sm) {

  .profile-picture{
    width:140px;
    height:auto;
  }


}

footer{
  margin-top:3em;
}




@import 'grid';


// Paginas concretas
@import 'home';
@import 'blog';
@import 'socis';
@import 'back';


